= render "shared/footer"
  
#homeheader{ style: "text-align: center;" }
  %h1#logo
    = image_tag "logo_salsaparis.png", size: "264x160"

%ul{ data: { role: "listview", inset: "true", theme: "c", dividertheme: "b" } }
  %li
    = link_to "Les soirées", root_path

%ul{ data: { role: "listview", inset: "true", theme: "c", dividertheme: "b" } }
  - @events.each do |event|
    %li
      = link_to event, "data-ajax" => false do
        - if event.photo
          = image_tag event.photo.thumb("115x115#").url
        %h3= event.name
        %p= truncate(event.description_fr)
