= render "shared/footer"

= render "home/header"

%ul{ data: { role: "listview", inset: "true", theme: "a", dividertheme: "b" } }
  %li
    = link_to t(".courses"), courses_path

%ul{ data: { role: "listview", inset: "true", theme: "a", dividertheme: "b" } }
  - @events.group_by { |e| e.date_start.to_date }.each do |day, events|
    %li(data-role="list-divider")= l(day, format: :long)
    - events.each do |event|
      %li
        = link_to event, "data-ajax" => false do
          - if event.photo
            = image_tag event.photo.thumb("115x115#").url
          %h3= event.name
          %p= truncate(event.description(I18n.locale), :length => 200)
